.menu-hamburguesa{
    left: 100px;
}

.linea1{
    background-color: black;
    position: absolute;
    left: 15px;
    top: 27px;
    width: 17px;
    height: 2px;
}

.linea2{
    background-color: black;
    position: absolute;
    left: 15px;
    top: 37px;
    width: 17px;
    height: 1px;
}

.linea3{
    background-color: black;
    position: absolute;
    left: 15px;
    top: 47px;
    width: 17px;
    height: 2px;
}

.titulo-navbar1{
    position: absolute;
    left: 60px;
    top: 30px;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.titulo-navbar2{
    position: absolute;
    left: 325px;
    top: 30px;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.titulo-navbar3{
    position: absolute;
    left: 500px;
    top: 30px;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.titulo-navbar4{
    position: absolute;
    left: 600px;
    top: 30px;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.titulo-navbar5{
    position: absolute;
    left: 800px;
    top: 30px;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.titulo-navbar6{
    position: absolute;
    left: 890px;
    top: 30px;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.imagen-barra-navegacion{
    position: absolute;
    top: 15px;
    left: 1400px;
    width: 50px;
}

.nombre-diario{
    position: absolute;
    top: 100px;
    font-size: 30px;
    left: 250px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}

.separacion-de-articulo{
    background-color: black;
    position: absolute;
    left: 150px;
    top: 200px;
    width: 1128px;
    height: 2px;
}

/*.carrusel-principal{
    position: absolute;
    top: 250px;
    width: 75vw;
    left: 155px;
    height: 600px;
    margin: auto;
    overflow: hidden;
}*/

.carousel-item{
    padding: 30%;
    padding-top: 250px;
    width: 1000px;
}

.carrusel-noticia1{
    position: absolute;
    width: 800px;
    bottom: 350px;
    left: 200px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.parrafo-noticia1{
    position: absolute;
    width: 800px;
    bottom: 300px;
    left: 190px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.carousel-indicators{
    position: absolute;
    top: 980px;
}


.carrusel-noticia2{
    position: absolute;
    width: 800px;
    bottom: 300px;
    left: 190px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.parrafo-noticia2{
    position: absolute;
    width: 800px;
    bottom: 200px;
    left: 190px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.carrusel-noticia3{
    position: absolute;
    width: 800px;
    bottom: 350px;
    left: 200px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.parrafo-noticia3{
    position: absolute;
    width: 800px;
    bottom: 250px;
    left: 200px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*carrusel-principal .carrusel-noticias{
    display: flex;
    animation: scroll 50s linear infinite;
    -webkit-animation: scroll 50s linear infinite;
    width: calc(100px *10);
}

.carrusel-principal .noticia{
    width: 1000px;
}

.carrusel-principal .notica img{
    width: 100%;
}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-1000px * 5));
        transform: translateX(calc(-1000px * 5));
    }
}
*/
/* contenedores mini noticias */

.flex-container {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 1000px;
    margin: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }